<header>
  <img width="50px" height="50px" src="/assets/logo.JPG" />
  <h1><i>Ballistic Echo</i></h1>
</header>
<div class="mainTable">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">{{ "Table.id" | translate }}</th>
        <th scope="col">{{ "Table.firstName" | translate }}</th>
        <th scope="col">{{ "Table.lastName" | translate }}</th>
        <th scope="col">{{ "Table.location" | translate }}</th>
        <th scope="col">{{ "Table.province" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        [ngClass]="{ disabled: !customer.active, active: customer.active }"
        *ngFor="let customer of customers"
        (click)="openModal(customer)"
      >
        <th scope="row">{{ customer.id }}</th>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.location }}</td>
        <td>{{ customer.province }}</td>
      </tr>
    </tbody>
  </table>

  <div
    class="modal"
    tabindex="-1"
    *ngIf="displayRowData"
    [ngStyle]="{ display: 'block' }"
  >
    <div class="modal-dialog">
      <div class="modal-content" [ngStyle]="{ width: '50%' }">
        <div class="modal-header" [ngStyle]="{ padding: '0px 11px' }">
          <h5 class="modal-title">Customer Information</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="hideModalWrapper()"
          ></button>
        </div>
        <div class="modal-body" [ngStyle]="{ display: 'flex' }">
          <ul>
            <li>Customer Name : {{ customerData.name }}</li>
            <li>Customer Location : {{ customerData.location }}</li>
            <li>Customer Id : {{ customerData.id }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="displayModal"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    [ngStyle]="{
      display: 'block',
      position: 'absolute',
      top: '11px',
      right: '14px'
    }"
  >
    <div class="toast-header">
      <strong class="me-auto">Something went wrong !!</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
        (click)="hideModal()"
      ></button>
    </div>
    <div class="toast-body">API {{ error }}</div>
  </div>
</div>

<footer>@Copy Rights 2022-2023 | Ballistic Echo</footer>
